extends layout

block content

    div(class='title')
      h1= title
      h3 Wejdź do Świata Kawy, rozsiądź się wygodnie i pozwól się zaczarować!

    div(class='container')
      div(class='welcome')
        p Przedstawiamy oferty naszych starannie dobranych i wyselekcjonowanych dla Państwa Kaw. Zapraszamy do zapupu przez internet oraz degustacji w naszej kawiarni. Sprzęt najwyższej jakości pozwala wydobyć z kawy to co najlepsze. Serwujemy kawę najwyższej jakości w każdych okolicznościach. Mają Państwo pytania lub wątpliwości? Zapraszamy do kontaktu!        
    
block footer 
  p 2021 &copy; Witaj w Świecie Kawy! Zpraszamy do kontaktu swiatkawy@com.pl             