extends layout

block content

  div(class='title')
    h1= title

  div(class='contact')
    div(class='col')
        p Świat Kawy sp. z o.o. Adres: ul. Jagielły 15, Kraków, tel. 77 889 77 65
     div(class='col')
      a(href='mailto:swiatkawy@com.pl?subject=Zapytanie w sprawie oferty/produktu&body=Szanowni Państwo...')
        p Napisz do nas wiadomość!
        i(class='bi bi-envelope')
    div(class='col')
      i(class='bi bi-facebook')
      i(class='bi bi-linkedin')
      i(class='bi bi-google')
      i(class='bi bi-instagram')

block footer 
    p 2021 &copy; Witaj w Świecie Kawy! Zpraszamy do zapoznania z naszą ofertą!